<br>
<div class="container">
   <div class="row">
      <div class="col-12">
         <h2>Your Dashboard</h3>
      </div> 
   </div>
   <br>
   <div class="row">
      <div class="col-9">
      <h3>Status</h3>
       <div>
          Current IP: <%= request.env['REMOTE_ADDR']%>
       </div>
      </div>
      <div class="col-3">
      <h3>Registration Status</h3>
      </div>
   </div>
</div>

