<br>
<div class="container">
   <div class="row">
      <div class="col-12">
         <h2>Your Dashboard</h3>
      </div> 
   </div>
   <br>
   <div class="row">
      <div class="col-9">
      <h3>Status</h3>
       <div>
          Current IP: <%= request.env['REMOTE_ADDR']%>
         <br>
         <% country = GeoIP.new('GeoIP.dat').country("210.195.39.201") %>
         <!-- ^^TESTING must change later -->      
         Country:<%= country.country_name%>
         
         <br>
         City:<% city = GeoIP.new('GeoLiteCity.dat').city("210.195.39.201")%> 
         <!-- ^^TESTING must change later -->      
         <%= city.city_name%>

       </div>
      </div>
      <div class="col-3">
      <h3>Registration Status</h3>
      </div>
   </div>
</div>

