<br>
<br>
<div class="col-12">
   <div class="row">
      <div class ="col-6" style="text-align: center;" >
        <h3 class="display-3"  data-aos="fade-right">Private π </h3>
      </div>

      <div class ="col-6" data-aos="fade-left">
         <%=image_tag("https://s3.eu-west-2.amazonaws.com/privatenetworkassets/images/rasb.png", id: "rasb", )%>
      </div>
   </div>
</div>