/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.modal-lg {
    max-width: 30% !important;
}*/

button:focus {outline:0 !important;}

.form_input_container{
   text-align: center;
}


.home_page_text_field{
 padding-top: 5px !important;
   padding-bottom: 5px !important;
   border-radius:0px !important;
   margin-bottom: 0.8rem !important;
   width: 90% !important;
   border-color: #7f8c8d  !important;
   border-width: 1px !important;
   border-style: solid !important;
}

input[type='password']{
   padding-top: 5px !important;
   padding-bottom: 5px !important;
   border-radius:0px !important;
   margin-bottom: 0.8rem !important;
   width: 90% !important;
   border-color: #7f8c8d  !important;
   border-width: 1px !important;
   border-style: solid !important;

}




.label{
   width: 90%;
   margin: 0 auto;
   font-size: 0.9rem;
}

.sign_in{
   margin: 0 auto;
   width: 90% !important;
}

.modal-dialog-centered{
   max-width: 100% !important;
}